/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

#search-input {
    width: 50%;
    height: 2em;
    padding: 0.5em;
    font-size: 1.2em;
}

#search-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #3e8e41;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#search-results {
    background-color: #fff;
    padding: 1em;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}